
:root{
    --primary:#0d6efd;
    --dark:#21252f;
    --body:#888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    color: var(--body);
    font-family: 'Lato', sans-serif;
  
}

.Logo{
    font-size: 49px;
    padding-top:12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4{
    color: var(--dark);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 50px;
}

.navbar .nav-link{
    font-size: 14px;
}

.nav-link{
    position: relative;
    cursor: pointer;
    margin: 0 0 0 10px;

    

}

.nav-link::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    bottom: 0;
    background:var(--primary);
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 230ms ease-in;
    /* z-index: 1; */
    border-radius: 5px;
}

.nav-link:hover::before{
    transform: scale(1);
    transform-origin: left;

}

.btn{
    border: 2px;
    border-radius: 0;
    padding: 8px 18px;
}



a{
    color: var(--dark);
    text-decoration: none;
}

img{
    width: 100%;
    
}

.hero{

    background-image: url(Photos/download\ \(3\).jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
   
}

.hero::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
}

.main-service{
    padding:100px 0 100px 0;

}

.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service:hover .iconbox{
    background-color: white;
    color: var(--primary);
}

.service:hover h5, .service:hover p{
    color: white;
    text-align: center;
}




.service::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: var(--primary); */
    background: linear-gradient(blue,black);
    width:100%;
    height: 100%;
    z-index: -1;
    transform: scale(0);
    
    transform-origin: top left;
    transition: 0.5s ease-in;

    
}

.service:hover::after{
    transform: scale(1);
    transform-origin: bottom;
}






.card-effect{
    box-shadow: var(--box-shadow);
    background-color:#fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    transform: translateY(5px);
    box-shadow: none;
}

.iconbox{
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius:50%;
    font-size: 28px;

    /* flex-none works with the features icons to make it not to shrink   */
    flex: none;
   
}

.col-img{
    
    background-image:url(./Photos/bitcoin.png) ;
    background-position: center;
    /* background-size: cover; */
    min-height: 250px;
    background-repeat: no-repeat;
    
}

.project{
    position: relative;
    overflow: hidden;
    
    
}

.project .overlay{

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21,20,51,0.8);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    transition: all 0.4s ease;
    /* transform: scaleY(0);
    transform-origin: top center; */
    opacity: 0;
    cursor: pointer;
    
}

.project:hover .overlay{
    /* transform: scaleY(1);
    transform-origin: bottom; */
    opacity: 1;

}

.project img{
    width: 100%;
    height: 250px;
    transition: all 0.4s ease;
}

.project:hover img{
    transform: scale(1.1);

}

.pricing h6{
    letter-spacing: 2px;
}

.team-member img{
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a{
    width: 34px;
    height: 34px;
    /* background-color: var(--primary); */
    border: 2px solid var(--primary);
    border-bottom: 2px var(--primary) ;
    border-radius: 100px;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
    margin-left:5px;
    transition: all 0.4s ease;

}

.social-icons a:hover{
   
    background: var(--primary);
    color: white;
    
}



.blog-post img{
width: 100%;
height: 200px;
}

form input.form-control{
    height: 56px;
}

form .form-control{
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.08);
}

.footer-top{
    padding: 90px 0;
   width: 100%;
   height: 100%;
   background: var(--dark);


}

.footer-top a{
    color: var(--body);
}

.footer-top a:hover{
    color: white;
}

.footer-bttom{
    background-color: #242933;
}









